<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <meta charset="UTF-8">
    <title>CoursesOnline</title>

</head>
<body>
<nav th:replace="navbar::header"></nav>
<div class="container">
<div class="text-center">Dont have an account? <a href="/register">register</a></div>
<div class="text-center">Already have an account? <a href="/login">Sign in</a></div></div>
</body>
</html>