<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/updateFormStyles.css}">
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<nav th:replace="navbar::header"></nav>
<div class="container">
    <h2>Here u can change your profile</h2>
    <form th:action="@{/update}" th:object="${user}" method="post">
        <div class="group">
            <input th:field="*{firstName}" type="text" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Firstname</label>
        </div>

        <div class="group">
            <input th:field="*{lastName}" type="text" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Lastname</label>
        </div>
        <div class="group">
            <button type="submit">Update user</button>
        </div>
    </form>
</div>

</body>
</html>